.notes-area {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
}

.no-notes-msg {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@media (min-width: 768px) {
    .notes-area {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 992px) {
    .notes-area {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1200px) {
    .notes-area {
        grid-template-columns: repeat(4, 1fr);
    }
}