@use '../variables' as *;

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
}

.modal {
    padding: 25px;
    width: 90%;
    background-color: rgb(243, 243, 243);
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    z-index: 10;
    animation: fade-up .7s forwards;

    &__wrapper {
        position: absolute;
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

@media (min-width: 768px) {
    .modal {
        padding: 40px;
        width: 50%;
    }
}

@keyframes fade-up {
    from {
        opacity: 0;
        transform: translateY(20%)
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}